{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_series') }}" class="btn btn-link mb">
        <i class="fa-solid fa-angle-left"></i> Back
    </a>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_end(form) }}
{% endblock %}