{% extends 'base.html.twig' %}

{% block title %}
    Series
{% endblock %}

{% block body %}
    <a href="{{ path('app_series_create') }}" class="btn btn-link mb">
        New <i class="fa-solid fa-plus"></i>
    </a>

    <ul class="list-group">
        {% for series in seriesList %}
            <li>
                <a href="{{ path('app_season', {series: series.id}) }}">
                    {{ series.name }}
                </a>

                <div class="btn-group">
                    <a href="{{ path('app_series_edit', {series: series.id}) }}" class="btn btn-link">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <form action="{{ path('app_series_destroy', {id: series.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">

                        <button class="btn btn-input">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
