<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cd616181c.js" crossorigin="anonymous"></script>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif

        }

        :root {
            --primary-light: #FBFBFB;
            --secondary-light: #D7DADF;
            --primary-dark: #171717;
            --secondary-dark: #333539;
            --thirdy-dark: #4D585F;
            --fourth-darl: #677E84;
        }

        header {
            display: flex;
            padding: 1rem 0;
            margin-bottom: 1.3rem;
            background-color: #ededed;
            justify-content: space-between;
        }

        header .home {
            font-weight: 500;
        }

        header i {
            font-size: .85rem;
        }

        header .container {
            display: flex;
            justify-content: space-between;
        }

        .container {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: 1320px;
        }

        a {
            text-decoration: none;
            transition: all .3s linear;
            color: var(--secondary-dark);
        }

        a:hover {
            color: var(--thirdy-dark);
        }

        .mt {
            margin-top: 1rem;
        }

        .mb {
            margin-bottom: 1rem;
        }

        .title {
            font-weight: 500;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        .btn,
        button {
            border: none;
            cursor: pointer;
            padding: 8px 12px;
            border-radius: 5px;
            display: inline-block;
            text-decoration: none;
            transition: all .3s linear;
        }

        .btn i {
            margin: 0 .1rem;
            font-size: .8rem;
            color: var(--primary-light);
        }

        .btn.btn-link {
            color: var(--primary-light);
            background-color: var(--primary-dark);
        }

        .btn.btn-link:hover {
            background-color: var(--secondary-dark);
        }

        button {
            color: var(--primary-light);
            background-color: var(--thirdy-dark);
        }

        button:hover {
            background-color: var(--fourth-darl);
        }

        .btn-group {
            display: flex;
        }

        .btn-group a {
            margin: 0 5px;
        }

        .alert {
            padding: 10px;
            display: block;
            margin: 10px 0;
            border: 1px solid;
            border-radius: 5px;
        }

        .alert.alert-success {
            color: #539b84;
            border-color: #C4D7D1;
            background-color: #F1FDF5;
        }

        .alert.alert-danger {
            color: #8f103a;
            border-color: #D8C9CE;
            background-color: #FBF0F0;
        }

        .list-group {
            border-radius: 3px;
            border: 1px solid var(--secondary-light);
        }

        .form label {
            display: block;
            margin-bottom: 5px;
        }

        .form input {
            width: 100%;
            padding: 8px 5px;
            border-radius: 5px;
            margin-bottom: 1rem;
            border: 1px solid var(--primary-dark);
        }

        .form input:focus-visible {
            outline: none;
            border: 1px solid var(--thirdy-dark);
        }

        .form ul {
            list-style: none;
        }

        .form ul li {
            color: #ff4545;
            font-size: .85rem;
            margin-bottom: 5px;
        }

        .list-group li {
            width: 100%;
            padding: 10px;
            align-items: center;
            display: inline-flex;
            justify-content: space-between;
        }

        .list-group li:not(:last-child) {
            border-bottom: 1px solid var(--secondary-light);
        }
    </style>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

{% if is_granted('ROLE_USER') %}
    <header>
        <div class="container">
            <a href="{{ path('app_series') }}" class="home">
                <i class="fa-solid fa-house"></i> Home
            </a>
            <a href="{{ path('app_logout') }}">
                Logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </header>
{% endif %}

<div class="container">
    <h1 class="title">
        {{ block('title') }}
    </h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</div>

</body>
</html>
